body,
html {
    height: 100%;
}

.index-html {
    scroll-behavior: smooth !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    font-size: 3.8em;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
}

p {
    font-size: 18px;
}

a {
    color: rgb(33, 186, 236);
    text-decoration: none !important;
}

a:hover {
    color: rgb(247, 108, 94);
}

.text-color {
    color: #333333;
}

.navbar {
    padding: 8px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-top {
    max-width: 34px;
}

.my-name {
    max-width: 220px;
    padding-left: 12px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto rgb(20, 19, 29);
}

#projects-nav {
    margin: 0rem 0rem 0rem 25rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 3rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.empty-nav {
    flex-grow: 2;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: rgb(247, 108, 94);
}

.navbar-dark .navbar-nav .nav-link:active {
    cursor: pointer;
    color: rgb(247, 108, 94);
}

.navbar.scrolled {
    background-color: white;
    transition: background-color 200ms linear;
    color: #333333;
}

.navbar-light .navbar-nav .nav-link.scrolled {
    color: #333333;
}

.navbar-light .navbar-nav .nav-link.scrolled:hover {
    color: rgb(247, 108, 94);
}

.navbar-light .navbar-nav .nav-link.scrolled:active {
    color: rgb(247, 108, 94);
}

.projects-link-text {
    color: rgb(247, 108, 94) !important;
    font-weight: bold;
}

.banner {
    text-align: center;
    height: 700px;
    background-image: url(../images/waves.jpg);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    text-align: center;
    font-size: 50px;
    color: rgb(247, 108, 94);
}

.banner-subtitle {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 20px 10px 20px 10px;
}

.my-roles {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(247, 108, 94);
    padding-top: 4em;
}

.diagram-section {
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .diagram {
    margin: 0 auto;
    width: 50%;
    height: 300px;
    background-image: url(../images/underwater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.roles {
    font-size: 30px;
    text-align: center;
}

.portfolio-item {
    text-align: center;
    height: 400px;
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portfolio-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.portfolio-item:active {
    cursor: pointer;
    opacity: 0.9;
}

.portfolio-item-top {
    margin-top: 8em;
}

.portfolio-description {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.portfolio-title {
    font-size: 1.6em;
    font-weight: bold;
}

.portfolio-text {
    font-size: 1.2em;
    color: #333333;
}

/* .portfolio-text {
    height: 100px;
    padding: 12px;
    background: #333333;
    color: #e0c388;
    font-size: 1.2em;
    left: 0;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
} */

.scifts-screenshot {
    background-image: url("../images/portfolio-screenshot/scifts-screenshot.jpg");
}

.tuka-screenshot {
    background-image: url("../images/portfolio-screenshot/tuka-screenshot.jpg");
}

.microgurt-screenshot {
    background-image: url("../images/portfolio-screenshot/microgurt-screenshot.jpg");
}

.new2dev-screenshot {
    background-image: url("../images/portfolio-screenshot/new2dev-screenshot.jpg");
}

.antlers-screenshot {
    background-image: url("../images/portfolio-screenshot/antlers-screenshot.jpg");
}

.dribbble-screenshot {
    background-image: url("../images/portfolio-screenshot/dribbble-screenshot.jpg");
}

.col {
    margin: 0 40px 0 40px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.skills-row {
    margin-top: 9em;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.skills-title {
    font-size: 2em;
    font-weight: bold;
    color: rgb(247, 108, 94);
}

.skills-item {
    padding-top: 0.5em;
    font-size: 1.2em;
}

.footer-section {
    margin-top: 10em;
    text-align: center;
    background: rgb(1, 6, 29);
}

.footer-top {
    padding-top: 4em;
}

.footer-content {
    color: white;
    font-size: 18px;
}

.footer-right {
    color: white;
}

.footer-contact {
    text-align: center;
    margin-top: 100px;
}

.footer-items {
    margin-top: 60px;
}

.footer-items a {
    margin: 200px 10px 0px 10px;
}

.footer-items img {
    width: 40px;
    height: 40px;
}

.logo-footer {
    max-width: 80px;
    cursor: pointer;
}

.link-to-top {
    display: inline-grid;
}

.link-to-top:hover {
    transform: scale(1.05, 1.05);
}

.link-to-top:active {
    transform: scale(0.95, 0.95);
}

.icon:hover {
    transform: scale(1.05, 1.05);
}

.icon:active {
    transform: scale(0.95, 0.95);
}

.copyright {
    margin-top: 32px;
    padding-bottom: 6px;
    font-size: 12px;
    color: white;
}


/* =============================== */
/* About Page */
/* =============================== */

.about-nav-text {
    color: rgb(247, 108, 94) !important;
    font-weight: bold;
}

.about-nav-text.scrolled {
    color: rgb(247, 108, 94) !important;
}

.display-flex {
    display: flex;
}

.watercolor-top {
    background-image: url("../images/watercolor-top.jpg");
    height: 266px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portrait {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.about-section {
    margin-top: 3em;
}

.watercolor-bottom {
    background-image: url("../images/watercolor-bottom.jpg");
    height: 266px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 4em;
    margin-bottom: -1px;
}

.footer-section-no-space {
    margin-top: 0 !important;
}


/* =============================== */
/* Contact Page */
/* =============================== */

.contact-nav-text {
    color: rgb(247, 108, 94) !important;
    font-weight: bold;
}

.contact-nav-text.scrolled {
    color: rgb(247, 108, 94) !important;
}

.help-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.help-title {
    font-size: 3em;
    margin-top: 60px;
    font-weight: 500;
    color: rgb(247, 108, 94);
}

.help-content {
    font-size: 1.6em;
}

.help-content-1 {
    margin-top: 32px;
}

.pelican {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.pelican-bottom {
    margin-top: -12em;
}


/* =============================== */
/* Common Project Content */
/* =============================== */

.no-padding-sides {
    padding-right: 0;
    padding-left: 0;
}

.scifts-page {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.image-shadow {
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.watercolor-nav {
    background-image: url("../images/watercolor-nav.jpg");
    height: 72px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.placeholder {
    height: 800px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.no-left {
    padding-left: 0px;
}

.project-title {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 500;
    color: rgb(247, 108, 94);
}

.project-section-title {
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 8px;
    font-weight: 500;
    color: rgb(58, 114, 204);
}

.project-subtitle {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 8px;
    font-weight: 500;
    color: rgb(247, 108, 94);
}

.prototype-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.prototype-image:hover {
    cursor: pointer;
    opacity: 0.9;
}

.prototype-image:active {
    cursor: pointer;
    opacity: 0.9;
}

.prototype-description {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.prototype-description-space-top {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
}

.figure-image-xl {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-lg {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-med {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-sm {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-tiny {
    width: 100%;
    max-width: 200px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.no-space-top {
    margin-top: 0;
}

.persona-section {
    padding: 60px 30px 60px 30px;
    margin: 40px 0px 20px 0px;
    background: rgb(240, 243, 255);
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
}

.persona-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.persona-name {
    font-size: 30px;
}

.demographic {
    padding-left: 40px;
}

.persona-paragraph {
    padding-top: 32px;
}

.needs-section {
    padding: 0px 18px 32px 18px;
    margin: 40px 20px 20px 20px;
    background: rgb(245, 255, 248);
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
}

.less-margin-top {
    margin-top: 24px;
}

.live-website-link {
    border-radius: 5px;
}

.live-website-link:hover {
    opacity: 0.9;
}

.flex-end {
    align-items: flex-end;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}


/* =============================== */
/* SCIFTS */
/* =============================== */

.scifts-laptop {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* tuka global */
/* =============================== */

.tuka-laptop {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* Microgurt */
/* =============================== */

.microgurt-desktop {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* New2Dev */
/* =============================== */

.new2dev-phone {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* AntlersAndAcorns */
/* =============================== */

.antlers-phone {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* Visit Dribbble */
/* =============================== */



/* =============================== */
/* Media Queries */
/* =============================== */

@media only screen and (max-width: 1500px) {
    .banner {
        background-position: 0 -200px;
    }

    .portfolio-item {
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media only screen and (max-width: 1300px) {
    .banner {
        background-position: 0 -100px;
    }

    .portfolio-item {
        height: 350px;
    }
}

@media only screen and (max-width: 1200px) {
    #projects-nav {
        margin: 0rem 0rem 0rem 14rem;
    }

    .roles {
        margin-top: 5em;
    }

    .skills-title {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        background-position: 0 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .my-roles {
        padding-top: 3em;
    }

    .diagram-section {
        margin-top: 6em;
    }

    .roles {
        margin-top: 3em;
    }

    .portfolio-item-top {
        margin-top: 6em;
    }

    .portfolio-item {
        height: 300px;
    }

    .portfolio-title {
        font-size: 1.2em;
    }

    .portfolio-text {
        font-size: 1em;
    }

    .skills-row {
        margin-top: 6em;
    }

    .skills-item {
        font-size: 1em;
    }

    .footer-section {
        margin-top: 6em;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.5rem;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 4rem;
    }

    #about-nav {
        margin: 0rem 0rem 0rem 2rem;
    }

    #contact-nav {
        margin: 0rem 0rem 0rem 2rem;
    }

    #projects-nav,
    #about-nav,
    #contact-nav,
    #home-nav-portfolio {
        padding: 0rem 0rem;
    }

    .banner {
        height: 700px;
        background-image: url(../images/waves-medium.jpg);
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-item {
        height: 260px;
    }

    .skills-title {
        font-size: 1.2em;
    }

    .footer-content {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-title {
        font-size: 40px;
    }

    .banner-subtitle {
        font-size: 24px;
    }

}

@media only screen and (max-width: 767px) {
    .logo-top {
        padding-top: 4px;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 0rem;
    }

    #about-nav {
        margin: 0rem 0rem 0rem 1rem;
    }

    #contact-nav {
        margin: 0rem 0rem 0rem 1rem;
    }

    .banner {
        height: 450px;
    }

    .my-roles {
        font-size: 20px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .portfolio-item {
        height: 260px;
    }

    .skills-title {
        font-size: 1em;
    }

    .skills-item {
        font-size: 0.8em;
    }

    .watercolor-top {
        height: 150px;
        background-position: 20% 0px;
    }

    .watercolor-bottom {
        height: 150px;
        background-position: 1% 0px;
    }

    .help-title {
        font-size: 2em;
    }

    .help-content {
        font-size: 1.2em;
    }

    .pelican {
        max-width: 180px;
    }

    .pelican-bottom {
        margin-top: -7em;
    }

    .needs-section {
        margin: 40px 0px 20px 0px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-section {
        height: 324px;
    }

    .footer-content {
        font-size: 14px;
    }

    .logo-footer {
        max-width: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .banner-title {
        font-size: 28px;
    }

    .banner-subtitle {
        padding-left: 40px;
        padding-right: 40px;
    }

    .my-roles {
        font-size: 16px;
        padding-top: 4em;
    }

    .skills-row {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    p {
        font-size: 16px;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 0rem;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    .portfolio-item-top {
        margin-top: 4em;
    }

    .portfolio-item {
        margin-top: 4em;
    }

    .project-title {
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .project-section-title {
        font-size: 26px;
    }

    .project-subtitle {
        font-size: 20px;
    }

    .portrait {
        padding: 12px;
        margin-top: 2em;
    }

    .about-section {
        margin-top: 1em;
    }

    .watercolor-bottom {
        margin-top: 1em;
    }

    .help-title {
        margin-top: 0px;
    }

    .help-title {
        font-size: 1.6em;
    }

    .help-content {
        font-size: 0.85em;
    }

    .pelican {
        margin-top: 2em;
        margin-bottom: -8.5em;
    }

    .less-padding-sides {
        padding-right: 6px;
        padding-left: 6px;
    }

    .project-section-title {
        padding-top: 32px;
    }

    .project-subtitle {
        padding-top: 16px;
    }

    .display-block-phone {
        display: block;
    }

    .persona-section {
        padding: 10px;
    }

    .footer-section {
        height: 466px;
    }

    .footer-top {
        padding-top: 2.5em;
    }

    .footer-title {
        font-size: 30px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-items {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-items img {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 359px) {
    p {
        font-size: 14px;
    }
    
    .my-name {
        max-width: 200px;
    }

    .banner-title {
        font-size: 24px;
    }

    .my-roles {
        font-size: 14px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.1rem;
    }

    .portfolio-item {
        height: 200px;
    }

    .portfolio-text {
        font-size: 0.9em;
    }

    .help-content {
        font-size: 0.75em;
    }
}