body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    font-size: 18px;
}

a {
    color: rgb(66, 175, 248);
    text-decoration: none !important;
}

a:hover {
    color: rgb(162, 215, 253);
}

.text-color {
    color: #333333;
}

.navbar {
    padding: 8px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    color: white !important;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo-top {
    max-width: 34px;
}

.my-name {
    max-width: 220px;
    padding-left: 12px;
}

.nav-name {
    color: white;
    font-size: 16px;
    padding-left: 16px;
}

.nav-name:hover {
    cursor: pointer;
    color: rgb(66, 175, 248) !important;
}

.nav-name:active {
    cursor: pointer;
    color: rgb(66, 175, 248) !important;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto rgb(20, 19, 29);
}

#about-nav {
    margin: 0rem 0rem 0rem 35rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 3rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.empty-nav {
    flex-grow: 2;
}

.nav-link {
    color: white !important;
    font-size: 16px;
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(66, 175, 248) !important;
}

.nav-link:active {
    cursor: pointer;
    color: rgb(66, 175, 248) !important;
}

.navbar.scrolled {
    background-color: white;
    /* opacity: 0.95; */
    transition: background-color 200ms linear;
    color: #333333 !important;
}

.nav-name.scrolled {
    color: #333333 !important;
}

.nav-name.scrolled:hover {
    color: rgb(66, 175, 248) !important;
}

.nav-name.scrolled:active {
    color: #333333 !important;
}

.nav-link.scrolled {
    color: #333333 !important;
}

.nav-link.scrolled:hover {
    color: rgb(66, 175, 248) !important;
}

.nav-link.scrolled:active {
    color: rgb(66, 175, 248) !important;
}

.banner {
    height: 700px;
    background-image: url(../images/waves.jpg);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    font-size: 60px;
    color: white;
}

.banner-subtitle {
    text-align: center;
    font-size: 40px;
    color: white;
    padding: 20px 10px 20px 10px;
}

.diagram-section {
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diagram {
    /* margin: 0 auto;
    width: 50%; */
    height: 300px;
    background-image: url(../images/underwater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roles {
    font-size: 30px;
    text-align: center;
}

.portfolio-container {
    /* padding-bottom: 100px; */
}

.portfolio-row {
    /* display: flex;
    justify-content: center; */
}

.portfolio-box {
    /* flex-direction: column; */
}

.portfolio-item {
    text-align: center;
    /* margin: 0 auto; */
    height: 500px;
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
    position: relative;
}

.portfolio-item-top {
    margin-top: 10em;
}

.portfolio-text {
    background: #e0c388;
    color: #333333;
    font-size: 20px;
    /* line-height: 1.5em; */
    /* margin-top: 64px; */
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 24px 32px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: block;
    position: absolute;
}

.col {
    margin: 0 40px 0 40px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.skills-row {
    margin-top: 10em;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
}

.skills-title {
    font-size: 2em;
    font-weight: bold;
}

.skills-item {
    padding-top: 0.5em;
    font-size: 1em;
}

.footer-section {
    margin-top: 10em;
    text-align: center;
    background: rgb(1, 6, 29);
}

.footer-top {
    padding-top: 4em;
}

.footer-content {
    color: white;
    font-size: 18px;
}

.footer-right {
    color: white;
}

.footer-contact {
    text-align: center;
    margin-top: 100px;
}

.footer-items {
    margin-top: 60px;
}

.footer-items a {
    margin: 200px 10px 0px 10px;
}

.footer-items img {
    width: 40px;
    height: 40px;
}

.logo-footer {
    max-width: 80px;
    cursor: pointer;
}

.logo-footer:hover {
    transform: scale(1.05, 1.05);
}

.logo-footer:active {
    transform: scale(0.95, 0.95);
}

.icon:hover {
    transform: scale(1.05, 1.05);
}

.icon:active {
    transform: scale(0.95, 0.95);
}

.copyright {
    margin-top: 32px;
    padding-bottom: 12px;
    font-size: 12px;
    color: white;
}


/* =============================== */
/* About Page */
/* =============================== */



/* =============================== */
/* Contact Page */
/* =============================== */



/* =============================== */
/* SCIFTS */
/* =============================== */



/* =============================== */
/* tuka global */
/* =============================== */



/* =============================== */
/* Microgurt */
/* =============================== */



/* =============================== */
/* New2Dev */
/* =============================== */



/* =============================== */
/* AntlersAndAcorns */
/* =============================== */



/* =============================== */
/* Visit Dribbble */
/* =============================== */



/* =============================== */
/* Media Queries */
/* =============================== */

@media only screen and (max-width: 1500px) {
    .banner {
        background-position: 0 -200px;
    }
}

@media only screen and (max-width: 1300px) {
    .banner {
        background-position: 0 -100px;
    }
}

@media only screen and (max-width: 1200px) {
    #about-nav {
        margin: 0rem 0rem 0rem 24rem;
    }

    .roles {
        margin-top: 5em;
    }

    .skills-title-3,
    .skills-title-4 {
        margin-top: 1em;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        background-position: 0 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .diagram-section {
        margin-top: 6em;
    }

    .roles {
        margin-top: 3em;
    }

    .portfolio-item-top {
        margin-top: 6em;
    }

    .skills-row {
        margin-top: 6em;
    }

    .footer-section {
        margin-top: 6em;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.5rem;
    }

    #contact-nav {
        margin: 0rem 0rem 0rem 0rem;
    }

    #home-nav,
    #portfolio-nav,
    #about-nav,
    #contact-nav,
    #home-nav-portfolio,
    #about-nav-about {
        padding: 0rem 0rem;
        /* font-size: 14px; */
    }

    #about-nav {
        margin: 0rem 0rem 0rem 15rem;
    }

    .skills-title-2 {
        margin-top: 1em;
    }

    .footer-content {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .logo-top {
        padding-top: 4px;
    }

    .justify-content-center {
        justify-content: flex-end !important;
    }
    
    .banner {
        height: 400px;
    }

    .banner-title {
        font-size: 40px;
    }

    .banner-subtitle {
        font-size: 24px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-section {
        height: 380px;
    }

    .footer-content {
        font-size: 14px;
    }

    .logo {
        max-width: 50px;
    }
}

@media only screen and (max-width: 576px) {
    .footer-section {
        height: 450px;
    }

    .footer-top {
        padding-top: 0;
    }

    .footer-title {
        font-size: 30px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-items {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-items img {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .portfolio-title {
        padding: 40px 0 20px 0;
    }
}

@media only screen and (max-width: 359px) {
    .banner-title {
        font-size: 30px;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.1rem;
    }
}