body,
html {
    height: 100%;
}

.index-html {
    scroll-behavior: smooth !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    font-size: 3.8em;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
    font-weight: normal;
}

p {
    font-size: 18px;
    line-height: 2;
}

.p-margin-top {
    margin-top: 40px;
}

a {
    color: #004ECC;
}

a:hover {
    color: #5999ff;
}

.space-30 {
    margin-top: 30px;
}

.space-40 {
    margin-top: 40px;
}

.space-60 {
    margin-top: 60px;
}

.space-80 {
    margin-top: 80px;
}

.space-400 {
    margin-top: 400px;
}

.text-color {
    color: #333333;
}

.navbar {
    padding: 8px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    color: #FFFFFF;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    border: none !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo-top {
    max-width: 34px;
}

.my-name {
    max-width: 220px;
    padding-left: 12px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto rgb(20, 19, 29);
}

#projects-nav {
    margin: 0rem 0rem 0rem 25rem;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 3rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.empty-nav {
    flex-grow: 2;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #5999ff;
}

.navbar-dark .navbar-nav .nav-link:active {
    cursor: pointer;
    color: #5999ff;
}

.navbar.scrolled {
    background-color: white;
    transition: background-color 200ms linear;
    color: #333333;
}

.navbar-light .navbar-nav .nav-link.scrolled {
    color: #333333;
}

.navbar-light .navbar-nav .nav-link.scrolled:hover {
    color: #5999ff;
}

.navbar-light .navbar-nav .nav-link.scrolled:active {
    color: #5999ff;
}

.projects-link-text {
    color: #5999ff !important;
    font-weight: bold;
}

.banner {
    text-align: center;
    height: 700px;
    background-image: url(../images/waves.jpg);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.banner-subtitle {
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 20px 10px 20px 10px;
}

.my-roles {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #002242;
    padding-top: 4em;
    margin-bottom: -2em;
}

.section-subtitle {
    font-size: 30px;
    font-weight: bold;
    color: #002242;
}

.diagram-section {
    margin-top: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .diagram {
    margin: 0 auto;
    width: 50%;
    height: 300px;
    background-image: url(../images/underwater.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.roles {
    font-size: 30px;
    text-align: center;
}

.portfolio-item {
    text-align: center;
    height: 400px;
    margin-top: 6em;
    margin-left: 8em;
    margin-right: 8em;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portfolio-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.portfolio-item:active {
    cursor: pointer;
    opacity: 0.9;
}

.portfolio-item-top {
    margin-top: 8em;
}

.portfolio-description {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

.portfolio-title {
    font-size: 1.6em;
    font-weight: bold;
}

.portfolio-text {
    font-size: 1.2em;
    color: #333333;
}

/* .portfolio-text {
    height: 100px;
    padding: 12px;
    background: #333333;
    color: #e0c388;
    font-size: 1.2em;
    left: 0;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
} */

.dsc-screenshot {
    background-image: url("../images/portfolio-screenshot/dsc-screenshot.jpg");
}

.irem-screenshot {
    background-image: url("../images/portfolio-screenshot/irem-screenshot.jpg");
    background-position: left;
}

.mayer-screenshot {
    background-image: url("../images/portfolio-screenshot/mayer-screenshot.jpg");
}

.essentials-screenshot {
    background-image: url("../images/portfolio-screenshot/essentials-screenshot.jpg");
    background-position: left;
}

.tastes-screenshot {
    background-image: url("../images/portfolio-screenshot/tastes-screenshot.jpg");
}

.principles-screenshot {
    background-image: url("../images/portfolio-screenshot/principles-screenshot.jpg");
}

.spark6-screenshot {
    background-image: url("../images/portfolio-screenshot/spark6-screenshot.jpg");
}

.scifts-screenshot {
    background-image: url("../images/portfolio-screenshot/scifts-screenshot.jpg");
}

.resilience-screenshot {
    background-image: url("../images/portfolio-screenshot/resilience-screenshot.jpg");
}

.ad-screenshot {
    background-image: url("../images/portfolio-screenshot/ad-screenshot.jpg");
}

.tuka-screenshot {
    background-image: url("../images/portfolio-screenshot/tuka-screenshot.jpg");
}

.antlers-screenshot {
    background-image: url("../images/portfolio-screenshot/antlers-screenshot.jpg");
}

.col {
    margin: 0 40px 0 40px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.skills-row {
    margin-top: 1em;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

.skills-row-mobile {
    margin-top: 4em;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
}


.skills-title {
    font-size: 2em;
    font-weight: bold;
    color: #006EF5;
}

.skills-item {
    padding-top: 0.5em;
    font-size: 1.2em;
}

.go-to-top-content {
    font-size: 18px;
    margin: 12px 24px 12px 0px;
    height: 160px;
    display: flex;
    justify-content: flex-end;
}

.bubbles {
    max-width: 50px;
    cursor: pointer;
}

.footer-section {
    text-align: center;
    background: rgb(1, 6, 29);
}

.footer-top {
    padding-top: 4em;
}

.footer-content {
    color: white;
    font-size: 18px;
}

.footer-right {
    color: white;
}

.footer-contact {
    text-align: center;
    margin-top: 100px;
}

.footer-items {
    margin-top: 60px;
}

.footer-items a {
    margin: 200px 10px 0px 10px;
}

.footer-items img {
    width: 40px;
    height: 40px;
}

.logo-footer {
    max-width: 80px;
    cursor: pointer;
}

.link-to-top {
    display: inline-grid;
}

.link-to-top:hover {
    transform: scale(1.05, 1.05);
}

.link-to-top:active {
    transform: scale(0.95, 0.95);
}

.icon:hover {
    transform: scale(1.1, 1.1);
}

.icon:active {
    transform: scale(0.95, 0.95);
}

.copyright {
    margin-top: 32px;
    padding-bottom: 6px;
    font-size: 12px;
    color: white;
}

.resume {
    color: #9bc2ff !important;
}

.email {
    color: #9bc2ff !important;
}


/* =============================== */
/* About Page */
/* =============================== */

.about-nav-text {
    color: #002242 !important;
    font-weight: bold;
}

.about-nav-text.scrolled {
    color: #002242 !important;
}

.display-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.watercolor-top {
    background-image: url("../images/watercolor-top.jpg");
    height: 266px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portrait {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.about-section {
    margin-top: 3em;
}

.testimonial-card {
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
    background-color: #f1f7ff;
    background-position: center 0%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.testimonial-paragraph {
    padding: 60px 40px 20px 40px;
    margin: 40px 80px 0 80px;
}

.testimonial-name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

.testimonial-role {
    text-align: center;
    margin: 0 0 60px 0;
    padding: 0px 0 60px 0;
}

.testimonial-role-last {
    text-align: center;
    margin: 0 0 0 0;
    padding: 0px 0 40px 0;
}

/* .big-quotations {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
} */

.watercolor-bottom {
    background-image: url("../images/watercolor-bottom.jpg");
    height: 266px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 4em;
    margin-bottom: -1px;
}


/* =============================== */
/* Contact Page */
/* =============================== */

.contact-nav-text {
    color: #002242 !important;
    font-weight: bold;
}

.contact-nav-text.scrolled {
    color: #002242 !important;
}

.help-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.help-title {
    margin-top: 60px;
    font-weight: 500;
    color: #002242;
}

.help-space {
    margin-top: 32px;
}

.pelican {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.pelican-bottom {
    margin-top: -12em;
}


/* =============================== */
/* Common Project Content */
/* =============================== */

.no-padding-sides {
    padding-right: 0;
    padding-left: 0;
}

.scifts-page {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.image-shadow {
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.watercolor-nav {
    background-image: url("../images/watercolor-nav.jpg");
    height: 72px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.placeholder {
    height: 800px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.no-left {
    padding-left: 0px;
}

.project-title {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #002653;
}

.project-section-title {
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 8px;
    font-weight: 500;
    color: #0049a1;
}

.project-subtitle {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 8px;
    font-weight: 500;
    color: #006EF5;
}

.prototype-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
}

.prototype-image:hover {
    cursor: pointer;
    opacity: 0.9;
}

.prototype-image:active {
    cursor: pointer;
    opacity: 0.9;
}

.prototype-description {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.prototype-description-space-top {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 12px;
}

.figure-image-xl-alt {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-xl {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-lg {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-ml {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-med {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-med-mod {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-sm {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-sm-mod {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-tiny {
    width: 100%;
    max-width: 200px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.figure-image-xt {
    width: 100%;
    max-width: 100px;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.no-space-top {
    margin-top: 0;
}

.persona-section {
    padding: 60px 30px 60px 30px;
    margin: 40px 0px 20px 0px;
    background: rgb(240, 243, 255);
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
}

.persona-image {
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin-top: 12px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.persona-name {
    font-size: 30px;
}

.demographic {
    padding-left: 40px;
}

.persona-paragraph {
    padding-top: 32px;
}

.needs-section {
    padding: 0px 18px 32px 18px;
    margin: 40px 20px 20px 20px;
    background: rgb(245, 255, 248);
    box-shadow: 0px 3px 6px 1px rgb(230, 230, 230);
    border-radius: 5px;
}

.less-margin-top {
    margin-top: 24px;
}

.live-website-link {
    border-radius: 5px;
}

.live-website-link:hover {
    opacity: 0.9;
}

.flex-end {
    align-items: flex-end;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: #0A6204;
    font-weight: bold;
}

.view-object-button {
    border: 6px solid #48D0FB;
    background-color: rgb(1, 6, 29);
    border-color: #48D0FB;
    font-size: 24px;
    padding: 14px 28px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
    border-radius: 16px;
}

.view-object-button:hover {
    transform: scale(1.05, 1.05);
}

.no-underline:hover {
    text-decoration: none;
}

.video-attributes {
    text-align: center;
    margin: 32px;
}


/* =============================== */
/* CSUF Projects */
/* =============================== */


.accessibility-list-item {
    font-size: 18px;
    line-height: 2;
}
  

/* =============================== */
/* Spark6 Project "R" */
/* =============================== */

.spark6-top-pic {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

.outline-border {
    border: 5px solid #333333;
    border-radius: 8px;
}


/* =============================== */
/* SCIFTS */
/* =============================== */

.scifts-laptop {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* Resilience */
/* =============================== */

.title-image {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* Advertisement Designs */
/* =============================== */

.ad-top-pic {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}

/* =============================== */
/* tuka global */
/* =============================== */

.tuka-laptop {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* AntlersAndAcorns */
/* =============================== */

.antlers-phone {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
}


/* =============================== */
/* Media Queries */
/* =============================== */

@media only screen and (max-width: 2000px) {
    .portfolio-item {
        margin-left: 6px;
        margin-right: 6px;
    }
}


@media only screen and (max-width: 1500px) {
    .banner {
        background-position: 0 -200px;
    }
}

@media only screen and (max-width: 1300px) {
    .banner {
        background-position: 0 -100px;
    }

    .portfolio-item {
        height: 350px;
    }
}

@media only screen and (max-width: 1200px) {
    #projects-nav {
        margin: 0rem 0rem 0rem 14rem;
    }

    .roles {
        margin-top: 5em;
    }

    .skills-title {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        background-position: 0 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .my-roles {
        font-size: 1.6em;
        padding-top: 3em;
    }

    .diagram-section {
        margin-top: 6em;
    }

    .roles {
        margin-top: 3em;
    }

    .portfolio-item-top {
        margin-top: 6em;
    }

    .portfolio-item {
        height: 300px;
    }

    .portfolio-title {
        font-size: 1.2em;
    }

    .portfolio-text {
        font-size: 1em;
    }

    .skills-item {
        font-size: 1em;
    }

    .scifts-page,
    .figure-image-xl,
    .figure-image-lg,
    .figure-image-ml,
    .figure-image-med,
    .figure-image-sm,
    .figure-image-tiny,
    .figure-image-xt {
        margin-top: 24px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.5rem;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 4rem;
    }

    #about-nav {
        margin: 0rem 0rem 0rem 2rem;
    }

    #contact-nav {
        margin: 0rem 0rem 0rem 2rem;
    }

    #projects-nav,
    #about-nav,
    #contact-nav,
    #home-nav-portfolio {
        padding: 0rem 0rem;
    }

    .banner {
        height: 700px;
        background-image: url(../images/waves-medium.jpg);
        background-position: 0 0px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-item {
        height: 260px;
    }

    .footer-content {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-title {
        font-size: 40px;
    }

    .banner-subtitle {
        font-size: 24px;
    }

    .testimonial-paragraph {
        margin: 0;
    }

    .go-to-top-content {
        margin: 12px 24px 0px 0px;
    }

    .bubbles {
        max-width: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .logo-top {
        padding-top: 4px;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 0rem;
    }

    #about-nav {
        margin: 0rem 0rem 0rem 1rem;
    }

    #contact-nav {
        margin: 0rem 0rem 0rem 1rem;
    }

    .banner {
        height: 450px;
    }

    .my-roles {
        padding-left: 1em;
        padding-right: 1em;
    }

    .portfolio-item {
        height: 260px;
    }

    .watercolor-top {
        height: 150px;
        background-position: 20% 0px;
    }

    .watercolor-bottom {
        height: 150px;
        background-position: 1% 0px;
    }

    .pelican {
        max-width: 180px;
    }

    .pelican-bottom {
        margin-top: -7em;
    }

    .needs-section {
        margin: 40px 0px 20px 0px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-section {
        height: 324px;
    }

    .footer-content {
        font-size: 14px;
    }

    .logo-footer {
        max-width: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .banner-title {
        font-size: 28px;
    }

    .banner-subtitle {
        padding-left: 40px;
        padding-right: 40px;
    }

    .my-roles {
        padding-top: 4em;
    }

    .skills-row {
        display: none;
    }

    .skills-item {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) {

    .skills-row-mobile {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    p {
        font-size: 16px;
    }

    #projects-nav {
        margin: 0rem 0rem 0rem 0rem;
    }

    .banner-subtitle {
        font-size: 20px;
    }

    /* .portfolio-item-top {
        margin-top: 4em;
    }

    .portfolio-item {
        margin-top: 4em;
    } */

    .project-title {
        font-size: 28px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .project-section-title {
        font-size: 26px;
    }

    .project-subtitle {
        font-size: 20px;
    }

    .portrait {
        padding: 15px;
        margin-top: 2em;
    }

    .about-section {
        margin-top: 1em;
    }

    .watercolor-bottom {
        margin-top: 1em;
    }

    .help-title {
        margin-top: 0px;
    }

    .pelican {
        margin-top: 2em;
        margin-bottom: -8.5em;
    }

    .less-padding-sides {
        padding-right: 6px;
        padding-left: 6px;
    }

    .project-section-title {
        padding-top: 32px;
    }

    .project-subtitle {
        padding-top: 16px;
    }

    .display-block-phone {
        display: block;
    }

    .persona-section {
        padding: 10px;
    }

    .footer-section {
        height: 450px;
    }

    .footer-top {
        padding-top: 2.5em;
    }

    .footer-title {
        font-size: 30px;
    }

    .footer-content {
        padding: 10px;
    }

    .footer-items {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .footer-items img {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 359px) {
    p {
        font-size: 14px;
    }

    .my-name {
        max-width: 200px;
    }

    .banner-title {
        font-size: 24px;
    }

    /* .my-roles {
        font-size: 14px;
    } */

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 1rem 1.1rem;
    }

    .portfolio-item {
        height: 200px;
    }

    .portfolio-text {
        font-size: 0.9em;
    }
}